!!!
.wrap-head
	#head
		.content 
			.row
				.col-md-12
					.col-md-2
						#logo.img-circle
							= image_tag("ava.jpg", alt: "ava", class: "")
					.col-md-4
						#info.head 
							%ul.unstyled
								%li Бондаренко Ольга Сергеевна
								/{:onmouseover => "this.style.color='#"+rand(0xffffff).to_s(16)+"';", :onmouseout=> "this.style.color='#fff';"} 
								%li г. Ставрополь
								%li 24 года
								%li Программист (web, C#, assembler)
					.col-md-3
						#contacts.head
							%ul.unstyled
								%li 
									=link_to 'ВKонтакте', 'http://vk.com/sova_bos', :target => "_blank"
								%li
									#SkypeButton_Call_ssova_bos_1{:style => "height: 24px;"}
										%script{:type => "text/javascript"}
											Skype.ui({
											"name": "dropdown",
											"element": "SkypeButton_Call_ssova_bos_1",
											"participants": ["ssova_bos"],
											"imageSize": 24
											});
								%li sovabos@gmail.com
								%li +7 (909) 753-66-13
								
					.col-md-3
						#blog.head
							=link_to 'Блог', blog_path
							



#mid
	.content
		.row
			.col-md-12
				.portfolio
					%dl.dl-horizontal
						%dt Образование
						%dd описание 1
						%dt Профессиональные навыки
						%dd описание 2
					- if signed_in?
						= link_to "Выйти", signout_path, method: "delete"
					- else
						= link_to "Войти", login_path
#hobby
	.row
		.col-md-12
			#video
				= video_tag([ "v.webm","v.mp4"], id: "video", width: "100%",  autoplay: "autoplay", :loop => "loop", preload: "auto", :muted => "true")

#footer
	.row
		.col-md-12
			.content
				%p jkjjj




