!!!
.wrap-head
	#head
		.content 
			.row
				.col-md-12
					.col-md-2
						#logo.img-circle
							= image_tag("ava.jpg", alt: "ava", class: "")
					.col-md-3
						#info.head 
							%ul.unstyled
								%li Бондаренко Ольга Сергеевна
								%li г. Ставрополь
								%li 24 года
								%li 8-909-753-66-13
					.col-md-3
						#contacts.head Contacts

#mid
	.content
		.row
			.col-md-12
				.portfolio
					%dl.dl-horizontal
						%dt Образование
						%dd описание 1
						%dt Профессиональные навыки
						%dd описание 2
					- if signed_in?
						= link_to "Выйти", signout_path, method: "delete"
					- else
						= link_to "Войти", login_path
#hobby
	.row
		.col-md-12
			#video
				= video_tag([ "v.webm","v.mp4"], id: "video", width: "100%",  autoplay: "autoplay", :loop => "loop", preload: "auto", :muted => "true")

#footer
	.row
		.col-md-12
			.content
				%p jkjjj
