// Place all the styles related to the potterrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrap{
	display: block;
	position: relative;
	padding: 40px;
}
.content{
	color: #fff !important;
}